//********************** Font **********************
$font-normal: 'Kanit Regular';
$font-medium: 'Kanit Medium';
$font-bold: 'Kanit Bold';

// ******************* Font Size *******************
$xssSize: 1.4rem;
$xsSize: 1.6rem;
$sSize: 2rem;
$mdSize: 2.4rem;
$lSize: 3.6rem;
$xlSize: 4.2rem;

// ******************* Text Color ******************
$textPrimary: #353535;
$textPrimaryLight1: #828282; // modal
$textPrimaryLight2: #9F9F9F; // placeholder / payment bank account / no-active link
$textPrimaryLight3: #D8D8D8; // no-active status
$textPrimaryLight4: #D9D9D9 ; // note 
$textSecond: #F46F21; 
$textSecondLight: #FDC69A;
$textPs: #DFDFDF;
$textYellow: #F4C321;
$textRed: #F00;
$textWhite: #FFF;

// ******************** BG Color *******************
$bgWhite: #FFF;
$bgPrimary: #F6F6F6; 
$bgSecond: #F46F21;
$bgDarkGray: #353535;

// ********************** Noti *********************
$notiBG: #FFEFE5;
$notiBorder: #FFC29E;
$notiPostAt: #9F9F9F;
$notiActive: #FFB300;

// ******************** Payment ********************
$paymentTh: #FFC29E;
$paymentThText: #DB641E;
$paymentPrimary: #828282;
$paymentBg: #123F68;

// ****************** Status Color *****************
$statusSuccess: #3DC786;
$statusError: #F42121;
$statusWarning: #F4C321;

// ***************** Shadow Color *******************
$shadow: rgba(0,0,0, 0.16);

// ******************* etc Color ********************