//! Kanit ------------------------------------------------------------

/* Kanit-400 - latin */
@font-face {
    font-family: 'Kanit Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/kanit/kanit-regular.ttf') format('truetype');
}

/* Kanit-500 - latin */
@font-face {
    font-family: 'Kanit Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/kanit/kanit-medium.ttf') format('truetype');
}

/* Kanit-700 - latin */
@font-face {
    font-family: 'Kanit Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/kanit/kanit-bold.ttf') format('truetype');
}
