header{
    position: relative;
    .row1{
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        background-image: url('../images/bg/bg_head.jpg');
        background-size: cover;
        background-position: center;
        padding: 1.25rem 0;
        @include respond(md){
            padding: 0.875rem 0;
        }
        @include respond(lg){
            padding: 1rem 0;
        }
        .header{
            width: 100%;
            color: $textWhite;
            .left{
                margin-left: 2rem;
                img{
                    width: 5.5rem;
                }
            }
            .right{
                margin-right: 2rem;
                .right_sub{
                    table{
                        tbody{
                        tr{
                            td{
                                color: $textWhite;
                                padding: 0.25rem 0;
                            }
                            td:nth-child(1){
                                text-align: right;
                                width: 10rem;
                            }
                            td:nth-child(2){
                                text-align: center;
                                width: 6rem;
                            }
                            td:nth-child(3){
                                text-align: left;
                                width: 14rem;
                                &.role{
                                    color: $textPrimary;
                                    background: yellow;
                                    border-radius: 1.5rem;
                                }   
                            }
                        }
                        }
                    }
                    .sign-out{
                        margin-left: 3rem;
                        height: 100%;
                        padding: 1.55rem 2.5rem !important;
                        font-size: $sxsSize;
                        @include respond(md){
                            font-size: $xsSize;
                        }
                        padding: 1rem 1.5rem;
                        border-radius: 15rem;
                        background: $bgDarkGray;
                        color: $textWhite;
                        transition: .3s ease-in-out;
                        &:after{
                            margin-left: 0.5rem;
                            content: "";
                            background-image: url('../images/general/logout.svg');
                            width: 1.5rem;
                            height:  1.5rem;
                            filter: invert(1);
                        }
                        &:hover{
                            transition: .3s ease-in-out;
                            background: rgba($bgDarkGray, 0.4);
                            // background-color: #000;
                        }
                    }
                }
            }
        }
        
        .mobile-header{
            .left{
                ul{
                    list-style-type: none;
                    li{
                        z-index: 4;
                        cursor: pointer;
                        line-height: 1;
                        padding: 2rem 0;
                        @include font-style($font-medium, bold, $sSize, $textWhite);

                        &.hamburger {
                            position: relative;
                            width: 2.5rem;
                            cursor: pointer;

                            span {
                                position: absolute;
                                background-color: $textWhite;
                                height: 3px;
                                top: 1.9rem;
                                width: 100%;
                                @include transition(all .2s);

                                &:first-child {
                                    top: 1.2rem;
                                    transform: rotate(0);
                                }

                                &:nth-child(2) {
                                    top: 2.55rem
                                }


                            }

                            &.active {
                                span {
                                    &:first-child {
                                        opacity: 0;
                                    
                                    }

                                    &:nth-child(2) {
                                        top: 2rem;
                                        transform: rotate(-45deg);
                                    }

                                    &:last-child {
                                        transform: rotate(45deg);
                                        top: 2rem;
                                    }
                                }
                                &:after{
                                    display: none;
                                }
                            }

                        }
                    }
                }

            }
            .right{
                object{
                    width: 2.5rem;
                    filter: invert(1);
                }
            }
        }
    }
    .row2{
        position: absolute;
    }
}